<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">${hibernate.connection.url}</property>
        <property name="hibernate.connection.username">${hibernate.connection.username}</property>
        <property name="hibernate.connection.password">${hibernate.connection.password}</property>
        <property name="hibernate.hbm2ddl.auto">validate</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">false</property>
        <property name="hibernate.current_session_context_class">thread</property>

        <mapping class="org.generation.italy.examples.model.Citizen"/>
        <mapping class="org.generation.italy.examples.model.Faction"/>
        <mapping class="org.generation.italy.examples.model.Resource"/>
        <mapping class="org.generation.italy.examples.model.BuildingType"/>
        <mapping class="org.generation.italy.examples.model.Building"/>
        <mapping class="org.generation.italy.examples.model.ProductionBatch"/>
    </session-factory>
</hibernate-configuration>
